@import '../../sass/_mixins';
@import '../../sass/_colors';

.project-tag {
  display: inline-block;
  color: $color-tertiary;
  border: 1px solid $color-tertiary;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: .35rem;
  height: auto;
  line-height: 1;
}
