@import '../../sass/_mixins';
@import '../../sass/_colors';

.project-card {
  flex-grow: 1;
  flex-basis: auto;
  transition: all 0.25s ease-out;
  border: 1px solid #eee;
  border-color: lighten($gray-dark, 12);
  border-radius: 0.25rem;
  padding: 0;
  margin: 1rem 1rem;
  height: auto;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.65rem rgba(0, 0, 0, 0.35);
  line-height: 1.5;

  @include mq(phones) {
    flex-basis: 100%;
	}
  @include mq(phonel) {
    flex-basis: 100%;
	}
	@include mq(tabletp) {
    flex-basis: 40%;
  }
	@include mq(tabletl) {
    flex-basis: 30%;
	}
	@include mq(laptop) {
    flex-basis: 24%;
  }
  @include mq(desktop) {
    flex-basis: 22%;
  }

  &.project-fixed {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    margin: 0;
    border: none;

    img {
      filter: blur(2px);
    }
  }

  .card-img-top {
    width: 100%;

    img {
      width: 100%;
      // border-bottom: 1px solid $color-tertiary;
      box-shadow: 0 10px 25px -5px #ccc;
    }
  }

  .card-details {
    padding: 1.5rem;
    // box-shadow: 0 -5px 5px -5px #333;

    .card-title {
      font-size: 1.65rem;
      color: #333;
    }
    .card-tech {
      font-weight: bold;
      opacity: 0.7;
      padding: 1rem 0;
      opacity: 0.6;
    }
    p {
      color: #282c34;
      font-size: 0.85rem;
    }
  }

  .card-tech {
    font-size: 0.8rem;
    color: $gray-dark;
  }
}
