@import '../../sass/_mixins';
@import '../../sass/_colors';

$card-margin: 1rem;

$card-top-height: 6rem;
$card-bottom-height: calc(100% - #{$card-top-height});

.project-card {
  flex-grow: 1;
  flex-basis: auto;
  width: auto;
  opacity: 1;
  border: 1px solid lighten($color-gray-dark, 50);
  border-radius: 0.25rem;
  background-color: rgba(255,255,255, 1);
  padding: 0;
  margin: 1rem $card-margin;
  height: auto;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.65rem rgba(0, 0, 0, 0.35);
  line-height: 1.5;

  @include mq(phones) {
    flex-basis: calc(100% - #{0.7 * $card-margin});
	}
  @include mq(phonel) {
    flex-basis: calc(100% - #{0.6 * $card-margin});
	}
	@include mq(tabletp) {
    flex-basis: calc(49% - #{2 * $card-margin});
  }
	@include mq(tabletl) {
    flex-basis: calc(33% - #{3 * $card-margin});
	}
	@include mq(laptop) {
    flex-basis: calc(25% - #{4 * $card-margin});
  }
  @include mq(desktop) {
    flex-basis: calc(25% - #{4 * $card-margin});
  }

  .card-img-top {
    background-color: #fff;
    cursor: pointer;
    @include transition(background-color .4s ease-out);
    width: 100%;

    img {
      @include transition(filter 0.85s ease-out, opacity 0.3s ease-out);
      filter: blur(0px);
      width: 100%;
      height: auto;
      border-bottom: 1px solid $color-gray-light;

      &:hover {
        opacity: 0.65;
      }
    }
  }

  .card-title {
    @include transition(opacity 0.35s ease-out);
    line-height: 1.35;
    margin: 1rem 0;
    color: $color-tertiary;
  }

  .card-details {
    p {
      color: #282c34;
    }
  }

  .tech {
    font-weight: bold;
    opacity: 0.6;
    line-height: 2.5;
    font-size: 0.8rem;
    color: $color-gray-dark;
  }
}
