@import '../../sass/_mixins';
@import '../../sass/_colors';

$card-margin: 1rem;

.project-card {
  flex-grow: 1;
  flex-basis: auto;
  width: auto;
  opacity: 1;
  // transform: scale(1.0);
  // transition: filter 1s ease-in;
  // height 0.25s ease-out, width 1.25s ease-out, padding 0.5 ease-out, margin 0.8s linear;
  // transition: all 1s linear;
  border: 1px solid lighten($gray-dark, 50);
  border-radius: 0.25rem;
  background-color: rgba(255,255,255, 1);
  padding: 0;
  margin: 1rem $card-margin;
  height: auto;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.65rem rgba(0, 0, 0, 0.35);
  line-height: 1.5;

  @include mq(phones) {
    flex-basis: calc(100vw - #{$card-margin});
	}
  @include mq(phonel) {
    flex-basis: calc(100vw - #{$card-margin});
	}
	@include mq(tabletp) {
    flex-basis: calc(50vw - #{$card-margin});
  }
	@include mq(tabletl) {
    flex-basis: calc(33vw - #{$card-margin});
	}
	@include mq(laptop) {
    flex-basis: calc(25vw - #{$card-margin});
  }
  @include mq(desktop) {
    flex-basis: calc(23vw - #{$card-margin});
  }

  .card-img-top {
    background-color: #fff;
    transition: background-color .4s ease-out;
    width: 100%;

    img {
      transition: all 0.8s ease-out;
      // transition: 1s all linear;
      // -webkit-transition: 1s -webkit-all linear;
      // -moz-transition: 1s -moz-all linear;
      // -ms-transition: 1s -ms-all linear;
      // -o-transition: 1s -o-all linear;

      filter: blur(0px);
      width: 100%;
      height: auto;
      box-shadow: 0 10px 12px -5px #ddd;
    }
  }

  .card-title {
    h2 {
      transition: all 0.35s ease-out;
      font-size: 1.65rem;
      margin: 2rem 0 0 0;
      color: #333;
    }
  }

  .card-details {
    padding: 1.5rem;


    .card-tech {
      font-weight: bold;
      padding: .6rem 0;
      opacity: 0.6;
      line-height: 2.5;
    }
    p {
      color: #282c34;
      font-size: 0.85rem;
    }
  }

  .card-tech {
    font-size: 0.8rem;
    color: $gray-dark;
  }
}


// When displayed Project expands to fill screen.
.project-card.project-focus {
  z-index: 100;
  animation-delay: .4s;
  // Need to explicitly reset the opacity back to 1
  // opacity: 1;
  position: fixed;
  display: block;
  // transform: scale(1.5);
  top: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100vw;
  height: 100vh;

  .card-img-top {
    height: 35vh;
    display: inline-block;
    overflow: hidden;
    background-color: #444;

    img {
      filter: blur(3px);
      opacity: 0.6;
      height: auto;
      width: 100%;
      border-bottom: 2px solid #333;
    }
  }

  .card-title {
    text-align: center;

    h2 {
      position: absolute;
      top: 15vh;
      width: 100%;
      margin: 0 auto;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0.9;
      color: #fff;
      letter-spacing: 0.05rem;
      text-shadow: 0.1rem 0.05rem 0.09rem rgba(0, 0, 0, 0.9);
    }
  }

  .card-details {
    padding: 1rem 3rem;
    height: 65vh;
  }
}
