
// https://coolors.co/88ccf1-d81159-8f2d56-218380-fbb13c
$color-primary: #218380;
$color-secondary: lighten( #8F2D56, 5);
$color-tertiary: $color-primary;
$color-accent: #D81159;
$color-accent-two: #FBB13C;
$color-gray-dark: #333;
$color-gray-mid: #999;
$color-gray-light: #eaeaea;
