$theme-primary: #ccc;
$gray-dark: #333;

.project-card {
  flex-grow: 0;
  width: 25%;
  border: 1px solid #eee;
  border-color: lighten($theme-primary, 12);
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 1rem 1rem;
  height: auto;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.65rem rgba(0, 0, 0, 0.35);
  line-height: 1.5;

  .card-img-top {
    border-bottom: 0.001rem solid $gray-dark;
    width: 100%;
  }

  .card-tech {
    font-size: 0.8rem;
    color: $gray-dark;
  }
}
