@import '../../sass/_mixins';
@import '../../sass/_colors';


$pad-sm: 1rem .5rem;
$pad-md: 2rem 1rem;
$pad-lg: 4rem 4rem;

// Project modal expands to fill screen
.modal-wrapper {
  @include mq(phones) {
    padding: $pad-sm;
  }
  @include mq(phonel) {
    padding: $pad-md;
  }
  @include mq(tabletp) {
    padding: $pad-lg;
  }

  &.modal-show {
    display: block;
  }
  &.modal-hide {
    display: none;
  }

  z-index: 100;
  animation-delay: .25s;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  margin: 0;
  width: auto;
  height: 100vh;
  box-shadow: none;

  .modal-header {
    @include transition(opacity .85s ease-out);
    z-index: 101;
    min-height: 10vh;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 1rem;

    h2 {
      @include mq(phones) {
        font-size: 1.25rem;
        letter-spacing: 0.01rem;
      }
      @include mq(phonel) {
        font-size: 1.75rem;
        letter-spacing: 0.02rem;
      }
      @include mq(tabletp) {
        font-size: 2.25rem;
        letter-spacing: 0.03rem;
      }
      margin: 1.5rem auto;
      opacity: 0.9;
      color: $color-tertiary;
    }
  }

  .modal-body {
    margin: 0 auto;
    overflow-y: scroll;
    max-height: 90vh;
    padding-bottom: 2rem;

    .subtitle {
      font-size: 2.0rem;
      font-weight: 800;
      opacity: 0.9;
      background-color: lighten($color-tertiary, 20);
      padding: 1rem 2rem;
      letter-spacing: 0.07rem;

      p {
        color: #fff;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: $color-gray-mid;
    }
  }

  .card-details {
    padding: 0;
    margin: 0;
    z-index: 101;
    height: auto;
    overflow-y: auto;
    // overflow-x: hidden;
    box-shadow: 0.25rem -0.25rem 1.5rem rgba(0, 0, 0, 0.35);


  }

  button {
    background-color: darken($color-accent, 10);
    margin: .5rem;
  }
}
