@import '../../sass/_mixins';
@import '../../sass/_colors';

$pad-sm: .5rem 1rem;
$pad-md: .75rem 2rem;
$pad-lg: 1rem 4rem;

// Project modal expands to fill screen
.modal-wrapper {
  @include transition(opacity .85s ease-out);

  &.modal-show {
    display: block;
  }
  &.modal-hide {
    display: none;
  }

  z-index: 100;
  animation-delay: .25s;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-shadow: none;

  .modal-header {
    @include mq(phones) { padding: $pad-sm; }
    @include mq(phonel) { padding: $pad-md; }
    @include mq(tabletp) { padding: $pad-lg; }

    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $color-gray-light;
    z-index: 101;
    min-height: 8vh;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 1rem;

    h2 {
      @include mq(phones) {
        font-size: 1rem;
        letter-spacing: 0.01rem;
      }
      @include mq(phonel) {
        font-size: 1.25rem;
        letter-spacing: 0.02rem;
      }
      @include mq(tabletp) {
        font-size: 1.5rem;
        letter-spacing: 0.03rem;
      }
      margin: 1rem auto;
      opacity: 0.9;
      color: $color-tertiary;
    }
  }

  .modal-body {
    @include mq(phones) { padding: $pad-sm; }
    @include mq(phonel) { padding: $pad-md; }
    @include mq(tabletp) { padding: $pad-lg; }

    margin: 0 auto;
    overflow-y: auto;
    max-height: 90vh;
    padding-bottom: 2rem;

    .subtitle {
      font-size: 2.0rem;
      font-weight: 800;
      opacity: 0.9;
      background-color: lighten($color-tertiary, 20);
      padding: .5rem 2rem;
      letter-spacing: 0.07rem;

      p {
        color: #fff;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: $color-gray-mid;
    }
  }

  button {
    background-color: darken($color-accent, 10);
    margin: auto .5rem;
    max-height: 3rem;
  }
}
