@import '../../sass/_mixins';
@import '../../sass/_colors';

.multimedia-container {
  height: auto;
  min-height: 50vh;
  width: 100%;
  padding: 1rem auto;
  margin: 3rem 0;

  iframe, .slider {
    background: #ddd;
  }

  iframe {
    @include mq(phones) {
      height: 320px;
    }
    @include mq(phonel) {
      height: 360px;
    }
    @include mq(tabletp) {
      height: 540px;
    }
    @include mq(tabletl) {
      height: 720px;
    }
    @include mq(laptop) {
      height: 800px;
    }
    @include mq(desktop) {
      height: 900px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
