@import '../../sass/_mixins';
@import '../../sass/_colors';

header {
    background-color: darken($color-tertiary, 10);
    height: auto;
    padding: 2em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    button,
    a.button {
      background-color: transparent;
      border-color: #fff;
      text-decoration: none;
      padding: .4rem .6rem;
      margin: 0.2rem;
    }
    .header__links {
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
