@import '../../sass/_mixins';
@import '../../sass/_colors';

@import '../../sass/libraries/_slick-theme';
@import '../../sass/libraries/_slick';

.slick-slider {
  width: 100%;

  .slick-list {
    z-index: 0;
  }

  button.slick-arrow {
    background: transparent !important;
    margin: 0 !important;
    z-index: 2;

    &.slick-next,
    &.slick-prev {
      // top: 40%;
    }
    &.slick-prev{
      left: 0;
    }
    &.slick-next{
      right: 0;
    }
  }

  .slick-prev,
  .slick-next {
    &:active {
      transform: translateY(0.01em);
    }
    &:before {
      color: $color-secondary;
      font-size: 2.25rem;
      margin: 0;
      background: rgba(255,255,255, 0.9);
      padding: .15rem;
      border-radius: 45%;
    }
  }

  .slick-dots {
    position: relative;
    bottom: 0;

    li {
      margin: 0;
      button {
        background: transparent !important;

        &::before {
          font-size: 1rem;
          color: $color-secondary;
        }
      }
    }
  }
}
